__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

venv/
env/
.venv/

.ipynb_checkpoints/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log

data/raw/*
data/processed/*
results/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!results/.gitkeep

logs/